<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
   <test name = "Sample test">
      <classes>
         <class name = "com.training.functional.tests.TC56_AddNewPost" />
         <class name = "com.training.functional.tests.TC57_CreatePropertyWithNewFeature" />
         <class name = "com.training.functional.tests.TC58_AdminReplyToCommentAddedByUser" />
         <class name = "com.training.functional.tests.TC59_AddPropertyDetailsToTrash" />
         <class name = "com.training.functional.tests.TC60_AddNewPropertyWithAllDetails" />
      </classes>
   </test>
</suite>	